@import '~variables';

.usersList {
  display: grid;
  align-items: stretch;
  grid-template-columns: repeat(auto-fit, minmax(0, 0.2fr));
  gap: map-get($space-md, 'x');

  margin-top: map-get($space-md, 'x');
}
