@import '~variables';

.header {
  margin: 0;

  font-size: map-get($body2, 'size');
}

.wrapper {
  display: flex;
  gap: map-get($space-md, 'x');
}

.label {
  display: flex;
  align-items: flex-end;
  gap: map-get($space-xs, 'x');

  cursor: pointer;
}

.check {
  margin: 0;
}
