@import '~variables';

.info {
  display: flex;
  justify-content: space-between;

  position: absolute;
  bottom: 0;
  padding: map-get($space-xs, 'y') map-get($space-sm, 'x');
  width: 100%;

  opacity: 0;
  transition: $generic-hover-transition;
  z-index: 5;
}

.wrapLikes,
.wrapAuthor {
  display: flex;
  align-items: center;
  gap: map-get($space-sm, 'x');
}

.avatar {
  border-radius: 50%;
}
