@import '~variables';

.form {
  display: flex;
  flex-direction: column;
  gap: map-get($space-lg, 'x');

  position: relative;
  margin: 0 auto;
  padding: map-get($space-md, 'x');

  background-color: $light;
  border-radius: $button-push-border-radius;
  box-shadow: $button-shadow;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: map-get($space-lg, 'x');
  row-gap: map-get($space-md, 'x');
}
