@import '~variables';

.skeleton {
  display: flex;
  flex-direction: column;
  align-items: center;

  position: relative;

  font-weight: 300;
  font-size: map-get($body2, 'size');

  color: $light;
  border-radius: $button-push-border-radius;
  box-shadow: $button-shadow;

  &:hover {
    & > .postDate {
      opacity: 1;
      color: $light;
      z-index: $z-tooltip;
    }

    & > .info {
      opacity: 1;
      background-color: $light-grey;
      box-shadow: 0px -13px 25px 20px $light-grey;
    }

    & > .wrapImg {
      filter: blur(0.7px) brightness(0.5);
    }
  }
}
