@import '~variables';

.skeleton {
  display: flex;
  flex-direction: column;
  align-items: center;

  position: relative;

  font-weight: 300;
  font-size: map-get($body2, 'size');

  color: $light;
  background-color: $light;
  border-radius: $button-push-border-radius;
  box-shadow: $button-shadow;

  &:hover {
    & > .postDate {
      opacity: 1;
      color: $light;
      z-index: 5;
    }

    & > .info {
      opacity: 1;
      background-color: $light-grey;
      box-shadow: 0px -13px 25px 20px $light-grey;
    }

    & > .wrapImg {
      filter: blur(0.7px) brightness(0.5);
    }
  }
}

.postDate {
  position: absolute;
  top: 0;
  width: 100%;
  padding: map-get($space-sm, 'x');

  font-weight: inherit;

  opacity: 0;
  transition: $generic-hover-transition;
}

.wrapImg {
  display: flex;
  align-items: center;

  cursor: zoom-in;
  transition: $generic-hover-transition;
}

.img {
  width: 100%;
}

.info {
  display: flex;
  justify-content: space-between;

  position: absolute;
  bottom: 0;
  padding: map-get($space-xs, 'y') map-get($space-sm, 'x');
  width: 100%;

  opacity: 0;
  transition: $generic-hover-transition;
  z-index: 5;
}

.wrapLikes,
.wrapAuthor {
  display: flex;
  align-items: center;
  gap: map-get($space-sm, 'x');
}

.avatar {
  border-radius: 50%;
}
