@import '~variables';

.author {
  display: flex;
  gap: map-get($space-md, 'x');
  align-items: center;

  font-size: map-get($body2, 'size');
}

.avatar {
  border-radius: 50%;
  box-shadow: $button-shadow;
}

.authorNick {
  color: $grey-7;
}
