@import '~variables';

.container {
  margin: 0 auto;
  padding: map-get($space-lg, 'x');
  max-width: $breakpoint-md;
}

.layout {
  position: relative;
  height: 100vh;

  background-color: $light;
}
