@import '~variables';

.card {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 0 map-get($space-md, 'x');

  border-radius: $button-push-border-radius;
  box-shadow: $button-shadow;
}

.titleName {
  min-height: 3rem;
}

.wrapImg {
  display: flex;
  align-items: center;

  max-width: 8rem;
  min-height: 10rem;

}

.img {
  max-height: 10rem;
  width: 100%;
}

.desc {
  display: block;
}

.wrapRate {
  display: flex;
  justify-content: space-between;

  width: 100%;
}

.star {
  margin-right: map-get($space-xs, 'x');

  color: $warning;
}

.wrapPrice {
  align-self: flex-start;
  display: flex;
  align-items: center;
  gap: map-get($space-xs, 'x');

  margin-top: map-get($space-xs, 'y');;
}

.dollar {
  color: $positive;
}
