@import '~variables';

.postDate {
  position: absolute;
  top: 0;
  width: 100%;
  padding: map-get($space-sm, 'x');

  font-weight: inherit;

  opacity: 0;
  transition: $generic-hover-transition;
}

.wrapImg {
  display: flex;
  align-items: center;

  cursor: zoom-in;
  transition: $generic-hover-transition;
}

.img {
  width: 100%;
  border-radius: $button-push-border-radius;
}
